/*------------------
    DEBUG
------------------*/
header {
    background-color: #2c3e50;
}

body {
    color: #fff;
}

.header_left, .header_right {
    height: 50px;
}

.hero_section {
    background-color: #1abc9c;
}

.hero_container {
    text-align: center;
}

.hero_img {
    height: 150px;
}

.contact-me {
    height: 350px;
    background-color: yellow;
}

.container-fluid.about {
    background-color: #1abc9c;
}

.btn-donwload {
    text-align: center;
}

.top-footer {
    height: 200px;
    background-color: #3a546d;
}

.bottom-footer {
    background-color: #2c3e50;
}

.small-container {
    width: 80%;
    margin: auto;
}

.bg-acqua {
    background-color: #1abc9c;
}

.portfolio_section img {
    border-radius: 10px;
}

.green-text {
    color: #1abc9c;
}

.social-rounded-img {
    font-size: 30px;
    margin: 10px;
    /* border: 1px solid #fff;
    border-radius: 50%; */
}
